<b>Performance Points:</b> <%- ppAtStart %> (+ <%- ppRecoveryLimit %> recoverable)<br>
<b>PP Recovery Cost:</b> <%- ppRecoveryCost %> Loveca Stars<br>
<br>
<% for (const floor of floors) { %>
    <% if (floor.isStory) { %>
        <div class="fake-collapsible-header">
            <div class="spacer">&nbsp;</div>
            <b>Story Node:</b>&nbsp;<%- floor.storyTitle %>
        </div>
    <% } else { %>
        <ul class="collapsible floor" id="<%- id %>-<%- floor.floorNo %>" data-collapsible="expandable">
            <li>
                <div class="collapsible-header
                    <% if (floor.isSuperStage) { %>light-blue lighten-5<% } %>
                    <% if (floor.isBonusStage) { %>red lighten-5<% } %>">
                    <img src="image/icon_<%- floor.attribute %>.png" alt="<%- floor.attribute %>">
                    <b class="floorno">
                        <% if (!floor.isBonusStage) { %>
                            <%- floor.floorNo %>)
                        <% } else { %>
                            &nbsp;
                        <% } %>
                    </b>
                    <div class="row">
                        <div class="col l3">
                            <span class="song-name translatable" data-rom="<%- floor.nameRomaji %>"><%- floor.nameKana %></span>
                            <% if (floor.namePostfix) { %><span class="postfix">(<%- floor.namePostfix %>)</span><% } %>
                        </div>
                        <div class="col l3"><b>Target:</b> <%- floor.targetVoltage %></div>
                        <div class="col l3">
                            <% if (floor.noteMap.hasSongGimmicks) { %>
                                <b>Cleansable:</b> <%- floor.noteMap.songGimmicks.some(g => g.isCleansable) ? "Yes" : "No" %>
                            <% } else { %>
                                &nbsp;
                            <% } %>
                        </div>
                        <div class="col l3">
                            <b>Note Damage:</b>
                            <%- floor.noteDamage %>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body live-difficulty unloaded" id="<%- floor.liveDifficultyId %>">
                    Loading...
                </div>
            </li>
        </ul>
    <% } %>
    <% if (floor.hasProgressReward) { %>
        <div class="progress reward">
            <b>
                <% if (floor.isClearReward) { %>
                    Clear Reward:
                <% } else { %>
                    Progress Reward:
                <% } %>
            </b>
            <%- floor.progressReward %>
            <% if (floor.unlocksBonusStages) { %>
                <br><b>Bonus Stages</b> for Voltage Ranking are unlocked
            <% } %>
        </div>
    <% } else if (!floor.isBonusStage) { %>
        <div class="progress">&nbsp;</div>
    <% } else { %>
        <div class="progress noline">&nbsp;</div>
    <% } %>
<% } %>