<% for (const tower of towers) { %>
    <ul id="<%- tower.id %>" class="collapsible tower" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <span class="song-name translatable" data-rom="<%- tower.nameRomaji %><%- tower.year %>">
                    <%- tower.name %><%- tower.year %>
                </span>
            </div>
            <div id="tower-floorlist<%- tower.id %>" class="collapsible-body tower-floor-list unloaded">
                Loading...
            </div>
        </li>
    </ul>
<% } %>