<div class="row nomargin">
    <div class="col l6">
        <b><%- lang.songinfo.ranks.S %>:</b> <%- lang.numberFormat(rankS) %> <span class="live-extra-toggle"></span>
        <div class="live-extra-container">
            <b><%- lang.songinfo.ranks.A %>:</b> <%- lang.numberFormat(rankA) %><br>
            <b><%- lang.songinfo.ranks.B %>:</b> <%- lang.numberFormat(rankB) %><br>
            <b><%- lang.songinfo.ranks.C %>:</b> <%- lang.numberFormat(rankC) %>
        </div>
        <b><%- lang.songinfo.note_damage %>:</b> <%- lang.numberFormat(noteDamage) %>
    </div>
    <div class="col l6">
        <b><%- lang.songinfo.voltage_caps.tap %>:</b> <%- lang.numberFormat(capTap) %> <span class="live-extra-toggle"></span>
        <div class="live-extra-container">
            <b><%- lang.songinfo.voltage_caps.sp %>:</b> <%- lang.numberFormat(capSp) %><br>
            <b><%- lang.songinfo.voltage_caps.skill %>:</b> <%- lang.numberFormat(capSkill) %><br>
            <b><%- lang.songinfo.voltage_caps.swap %>:</b> <%- lang.numberFormat(capSwap) %>
        </div>
        <b><%- lang.songinfo.sp_gauge_max %>:</b> <%- lang.numberFormat(spGaugeSize) %>
    </div>
</div>
<%- include('notemap', {...noteMap, lang}); %>