<% if (hasNoteMap) { %>
    <div class="row nomargin">
        <div class="col l6">
            <b><%- lang.songinfo.note_count %>:</b> <%- lang.numberFormat(mapInfo.noteCount) %><br>
            <b><%- lang.songinfo.note_count_ac %>:</b> <%- lang.numberFormat(mapInfo.totalACNotes) %> (<%- mapInfo.totalACNotesPercentage %>)<br>
            <b><%- lang.songinfo.note_damage_total %>:</b> <%- lang.numberFormat(mapInfo.totalNoteDamage) %>
        </div>
        <div class="col l6">
            <b><%- lang.songinfo.ac_reward_total %>:</b> <%- mapInfo.totalACReward %>
            <% if (mapInfo.hasActualSongLength) { %>
                <br>
                <b><%- lang.songinfo.song_length %>:</b> <%- mapInfo.songLength %>
            <% } %>
        </div>
    </div>
    <div class="scale">
        <div class="header">Scale:</div>
        <div class="time">Time</div>
        <div class="turns">Turns</div>
    </div>
    <div class="notebarcontainer" tabindex="-1">
        <div class="notebar" style="--markerlayers: <%- mapInfo.markerLayerCount %>"
             data-totaltime="<%- (mapInfo.mapLength / 98 * 100).toFixed(3) %>">

            <% for (const ac of appealChances) { %>
                <div data-ac="<%- ac.index %>" class="appealchance <%- ac.cssClass %>"
                     style="--time-pos: <%- (ac.timePosition * 98 + 1).toFixed(3) %>%;
                             --time-len: <%- (ac.timeLength * 98).toFixed(3) %>%;
                             --turn-pos: <%- (ac.turnPosition * 98 + 1).toFixed(3) %>%;
                             --turn-len: <%- (ac.turnLength * 98).toFixed(3) %>%;">&nbsp;
                </div>
            <% } %>
            <% for (const note of notes) { %>
                <div class="note <%- note.cssClass %> <%- note.hasGimmick ? "gimmicked" : "" %>"
                     style="--time-pos: calc(<%- (note.timePosition * 98 + 1).toFixed(3) %>% - 1px);
                             --turn-pos: calc(<%- (note.turnPosition * 98 + 1).toFixed(3) %>% - 1px);">&nbsp;
                </div>

                <% if (note.isHold) { %>
                    <div class="hold <%- note.cssClass %>"
                         style="--time-pos: calc(<%- (note.timePosition * 98 + 1).toFixed(3) %>% - 1px);
                                 --time-len: <%- (note.timeLength * 98).toFixed(3) %>%;
                                 --turn-pos: calc(<%- (note.turnPosition * 98 + 1).toFixed(3) %>% - 1px);
                                 --turn-len: <%- (note.turnLength * 98).toFixed(3) %>%;">&nbsp;
                    </div>
                <% } %>

                <% if (note.hasGimmick) { %>
                    <div class="gimmick" data-gimmick="<%- note.gimmickMarker.gimmickIndex %>"
                         data-npos="<%- note.gimmickMarker.noteIndex + 1 %>"
                         <% if (note.gimmickMarker.hasSlotNo) { %>data-slot="<%- note.gimmickMarker.slotNo + 1 %>"<% } %>
                         style="--gimmicklayer: <%- note.gimmickMarker.globalLayer %>;
                                 --gimmicklayer-filtered: <%- note.gimmickMarker.thisGimmickLayer %>;
                                 --time-pos: <%- (note.gimmickMarker.timePosition * 98 + 1).toFixed(3) %>%;
                                 --time-len: <%- note.gimmickMarker.hasLength ? (note.gimmickMarker.timeLength * 98).toFixed(3) : 0 %>%;
                                 --turn-pos: <%- (note.gimmickMarker.turnPosition * 98 + 1).toFixed(3) %>%;
                                 --turn-len: <%- note.gimmickMarker.hasLength ? (note.gimmickMarker.turnLength * 98).toFixed(3) : 0 %>%;
                                 ">
                        <div class="gimmickmarker"><%- note.gimmickMarker.gimmickIndex + 1 %></div>
                        <% if (note.gimmickMarker.hasLength) { %>
                            <div class="gimmicklength">&nbsp;</div>
                        <% } %>
                    </div>
                <% } %>

                <% if (note.index % 5 === 4) { %>
                    <div class="marker <%- (note.index % 50 === 49) ? 'fifty' : ((note.index % 10 === 9) ? 'ten' : 'five') %>"
                         style="--time-pos: calc(<%- (note.timePosition * 98 + 1).toFixed(3) %>% - 1em);
                                 --turn-pos: calc(<%- ((note.index / (mapInfo.noteCount - 1)) * 98 + 1).toFixed(3) %>% - 1em)">
                        |<br><%- ((note.index + 1) % 10 === 0) ? (note.index + 1) : "&nbsp;" %>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
<% } else { %>
    <div class="row" style="margin-top: 1em; text-align: center">(no note map available)</div>
<% } %>

<div class="row nomargin detailinfo-container">
    <div class="col l6 detailinfo">
        <h5>Gimmicks</h5>
        <div>
            <div>Song Gimmick</div>
            <div>
                <% if (hasSongGimmicks) { %>
                    <% for (const songGimmick of songGimmicks) { %>
                        <div class="songgimmick">
                            <% if (songGimmicks.length > 1) { %>
                                <div class="number"><%- String.fromCharCode(9312 /* ① */ + songGimmick.index) %></div>
                            <% } %>
                            <div class="text">
                                <%- songGimmick.skill %><br>
                                <b>Cleansable:</b>
                                <%- songGimmick.isCleansable ? "Yes" : "No" %>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    None
                <% } %>
            </div>
        </div>
        <% for (const noteGimmick of noteGimmicks) { %>
            <div data-gimmick="<%- noteGimmick.index %>" class="gimmick">
                <div>Note Gimmick <%- noteGimmick.index + 1 %></div>
                <div>
                    <%- noteGimmick.skill %>
                    <% if (hasNoteMap) { %>
                        <br><b>Amount:</b> <%- noteGimmick.count %> note<%- (noteGimmick.count === 1) ? "" : "s" %>
                        <% if (noteGimmick.hasSlotCounts) { %>
                            <div class="slotcontainer">
                                <%- noteGimmick.slotCounts.map((c, i) => c > 0
                                        ? "<span class='slot' data-slot='" + i + "'>Unit " + (i + 1) + " ×" + c + "</span>"
                                        : null).filter(c => c !== null).join(" ") %>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <div class="col l6 detailinfo">
        <h5>Appeal Chances</h5>
        <% for (const ac of appealChances) { %>
            <div data-ac="<%- ac.index %>" class="appealchance <%- ac.cssClass %>">
                <div>AC <%- ac.index + 1 %>: <%- ac.mission %></div>
                <div>
                    <%- ac.hasGimmick ? ac.gimmick : "No Gimmick" %>
                    <% if (hasNoteMap) { %>
                        <br>
                        <b>Length:</b> <%- ac.noteCount %> notes
                        <% if (ac.hasPerNoteInfo) { %>
                            <%- ac.perNoteInfo %>
                        <% } %>
                        <div class="row nomargin">
                            <div class="col m6 no-padding"><b>Success:</b> <%- ac.rewardVoltage %> Voltage</div>
                            <div class="col m6 no-padding"><b>Failure:</b> <%- ac.penaltyDamage %> Damage</div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>